<!DOCTYPE html>
<html>
  <head>

  <title>Spring Foundation Past Events</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "jquery-1.11.1.min.js" %>
  <%= javascript_include_tag "bootstrap.min.js"%>
  <%= csrf_meta_tags %>
  </head>

<body>
<%= render :partial => '/layouts/nav' %>
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Spring Events</h1>
            <p>Since 2012, Spring Foundation has hosted many events to fundraise and raise awareness for charity in China</p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h10>Love Beyond Love</h10>
              <p>A valentine's day fundraise event.</p>
              <p><a class="btn btn-default" href="/past_events/love_beyond_love" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h10>Fundraising Contest</h10>
              <p>Fundraising Contest </p>
              <p><a class="btn btn-default" href="/past_events/fundraising_contest" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h10>Cotton Candy Sale</h10>
              <p>Cotton Candy Sale</p>
              <p><a class="btn btn-default" href="/past_events/cotton_candy_sale" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h10>Cloth sale</h10>
              <p>Cloth sale</p>
              <p><a class="btn btn-default" href="/past_events/cloth_sale" role="button">View details &raquo;</a></p>
            </div><!--/span-->

            <div class="col-6 col-sm-6 col-lg-4">
              <h10>Valentine’s Sale</h10>
              <p>Valentine’s Rose Sale </p>
              <p><a class="btn btn-default" href="/past_events/valentines_sale" role="button">View details &raquo;</a></p>
            </div><!--/span-->

            <div class="col-6 col-sm-6 col-lg-4">
              <h10>Furniture Drive</h10>
              <p>Furniture Drive</p>
              <p><a class="btn btn-default" href="/past_events/furniture_drive" role="button">View details &raquo;</a></p>
            </div><!--/span-->


          </div><!--/row-->
        </div><!--/span-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <img style="max-width:100%; margin-top: -7px;"
             src="../assets/side_pic.JPG">
        </div>
      </div><!--/row-->



      <hr>
    </div><!--/.container-->
  </body>
</html>