<!DOCTYPE html>
<html>
  <head>

  <title>Spring Foundation Past Events</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "jquery-1.11.1.min.js" %>
  <%= javascript_include_tag "bootstrap.min.js"%>
  <%= csrf_meta_tags %>
  </head>

<body>
<%= render :partial => '/layouts/nav' %>
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-12">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Spring Events</h1>
            <p>Since 2012, Spring Foundation has hosted many events to fundraise and raise awareness for charity in China</p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-4">
              <h10>Love beyond Love</h10>
              <p>A valentine's day fundraise event.</p>
              <p><a class="btn btn-default" href="/past_events/love_beyond_love" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h10>2013 Summer Visit</h10>
              <p>2013 Summer Visit</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h10>Donation Contest</h10>
              <p>Donation Contest </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h10>Cotton Candy Sale</h10>
              <p>Cotton Candy Sale</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-sm-6 col-lg-4">
              <h10>2013 Cloth sale</h10>
              <p>Cloth sale</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->

          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>
    </div><!--/.container-->
  </body>
</html>