<!DOCTYPE html>
<html>
  <head>

  <title>Cotton Candy Sale</title>
 <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "jquery-1.11.1.min.js" %>
  <%= javascript_include_tag "bootstrap.min.js"%>
  <%= csrf_meta_tags %>
  </head>

<body>
<%= render :partial => '/layouts/nav' %>
    <div class="container">

    Cotton Candy Sale

      <hr>
    </div><!--/.container-->
  </body>
</html>